
::-webkit-scrollbar-thumb{
    background-color: #fff700 !important;
}

#theme-footer,
#theme-header,
.top-nav ul li.current-menu-item:before,
#main-nav .menu-sub-content ,
#main-nav ul ul,
#check-also-box {
    border-top-color: #fff700;
}

.search-block:after {
    border-right-color:#fff700;
}

body.rtl .search-block:after {
    border-left-color:#fff700;
}

#main-nav ul > li.menu-item-has-children:hover > a:after,
#main-nav ul > li.mega-menu:hover > a:after {
    border-color:transparent transparent #fff700;
}

.widget.timeline-posts li a:hover,
.widget.timeline-posts li a:hover span.tie-date {
    color: #fff700;
}

.widget.timeline-posts li a:hover span.tie-date:before {
    background: #fff700;
    border-color: #fff700;
}

#order_review,
#order_review_heading {
    border-color: #fff700;
}






